
  header{
    width: 100%;
    background-color:Yellow;
    padding: 10px;
    height: 100%;
}
    div.logo {
        float: left;
        margin: 10px;
        width: 100px;
        height: 100px;
    }
div.name {
    background-color: lightblue;
    text-align:center;
    padding:10px;
}
body {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
}
nav{
    color:forestgreen;
    text-align: center;
    max-width: 800px;
    background-color:pink;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px;
}
table{
width:100%;
height: 300px;
}
th{
    background-color:Orange;
}
tr.ch {
    background-color:Emerald;
}
tr.nh{
    background-color:Purple;
}
tr.ph {
    background-color:Pink;
}
tr.hh {
    background-color:Green;
}
tr.rh {
    background-color:Coral;
}
footer {
    width: 100%;
    background-color:lightblue;
    margin: auto;
    padding: 20px
}
h1{
    text-align:center;
}
table.bt{
    border:solid;
}

